*{
	caramel-light:#ffd555;
	caramel-dark:#d8a41f;
	pink:#ff5389;
	light:#ffff8e;
}
@font-face {
    src: url("gui/Montserrat-Regular.ttf");
}
.root{
	-fx-background-color: caramel-light;
}
.label{
	 -fx-font-family:"Montserrat";
	/*
	-fx-margin-left:20px;
	 */
}
.menu-bar{
	-fx-background-color:light;
	-fx-font-family:"Montserrat";
}